body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}


.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}


.nav-link{
    margin-left: 1rem;
    color: #222222 !important;
}

.nav-link:hover{
    transition: ease-in;
    color: antiquewhite;
    text-decoration: underline !important;
}

.collapse,.navbar-collapse{
    background-color: white !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.22rem;
    margin: 0.7rem;
}



.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */

.listing-card{
    border: none !important;
    margin: 1.5rem;

}

.card-img-top{
    
    border-radius: 0.5rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

/* Card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
    box-shadow: 2px 2px 8px lightskyblue;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show page */
.show-img{
    height: 50vh;
    width: 45rem !important;
    margin-left: -6rem;
}

@media (max-width: 800px){
    .show-img{
        margin-left: -5rem;
        border-radius: 0.5rem !important;
        width: 30rem !important;
        object-fit: cover !important;
    } 
}

@media (max-width: 500px){
    .show-img {
        margin-left: -3rem;
        border-radius: 0.5rem !important;
        width: 18rem !important;
        object-fit: cover !important;
        height: 18rem !important;
    }
}
